<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/top.css">
	<link rel="stylesheet" href="/stylesheets/top.css">
	<title>coffeeNodeBase</title>
</head>
<body>
	<%- include("parts/header",{headerNickname: nickname}) %>
</body>
</html>